<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Celular Novo</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body class="Adicionar Celular Novo">
    <img id="logo" src="/static/img/Logo.png" alt="Logo">
    <div class="caixa-de-login">
        <form action="/novo_celular" method="POST">
            <h2>Criar música</h2>

            <p>Marca do Celular</p>
            <input type="text" name="marca" required>

            <p>Modelo:</p>
            <input type="text" name="modelo" required>

            <p>Processador:</p>
            <input type="text" name="processador" required>
         
            <p>Armazenamento:</p>
            <input type="text" name="armazenamento" required>

            <p>RAM:</p>
            <input type="text" name="ram" required>

            <br><br>
            <div class="botoes">
                <button type="submit">Criar</button>
            </div>
        </form>
    </div>
</body>
</html>